.bgn-text-button {
  cursor: pointer;
}

.bgn-boardgame-header {
  background-color: LightSteelBlue !important;
}

.bgn-profile-header {
  background-color: LightGoldenRodYellow !important;
}

.bgn-location-header {
  background-color: LightCoral !important;
}

.ember-cli-g-map {
    height: 300px !important;
    width: 100% !important;
}

.bgn-user-outlet {
  height: 100%;
  padding: 10px;
}

.bgn-remove-border-radius {
  border-radius: 0% !important;
}

.bgn-organizer-header {
  background-color: LightYellow !important;
}

.bgn-player-header {
  background-color: LavenderBlush !important;
}

.bgn-modal-footer {
  margin-right: 0px !important;
  margin-left: 0px !important;
}

@media (max-width: 700px) {
    .aside {
        display: none !important;
    }
}

.bgn-news-element > h2 {
  margin-top: 0px !important;
}