<div class="ui massive secondary inverted blue menu">
  <a class="active item">Calendar</a>
  <a class="item">My Nights</a>
  <a class="item">My Profile</a>
  <div class="right menu">
    <a class="ui item">
      Logout
    </a>
  </div>
</div>
<div class="bgn-user-outlet">
{{outlet}}
</div>