<div class="ui massive inverted blue menu bgn-remove-border-radius borderless">
  {{#link-to "home" class="item middle"}}<i class="home icon"></i>BGN{{/link-to}}
  {{#link-to "calendar" class="item"}}Calendar{{/link-to}}
  {{#link-to "user-nights" class="item"}}My Nights{{/link-to}}
  <a class="item">My Profile</a>
  <div class="right menu">
    <a class="ui item">
      Logout
    </a>
  </div>
</div>
<div class="bgn-user-outlet">
{{outlet}}
</div>