<div class="ui massive inverted blue icon menu bgn-remove-border-radius borderless">
  {{#link-to "home" class="item center aligned"}}<i class="large home icon"/>{{/link-to}}
  {{#link-to "calendar" class="item"}}Calendar{{/link-to}}
  {{#link-to "user-nights" class="item"}}My Nights{{/link-to}}
  <a class="item">My Profile</a>
  <div class="right menu">
    <a class="ui item"><i class="large power icon"></i>&nbsp;Logout</a>
  </div>
</div>
<div class="bgn-user-outlet">
{{outlet}}
</div>